<script type="text/javascript">
$(function(){
 // 数据	
 var upright =  [];// 竖的数据
 var upright2 =  [];// 竖的数据
 var transverse =  [];// 横的数据
 <#list list as bean>
   upright.push('${bean.money}');
   upright2.push('${bean.money2}');
   transverse.push('${bean.date}');
 </#list>
 // 基于准备好的dom，初始化echarts实例
 var myChart = echarts.init(document.getElementById('moneyStatistics-line'));
 option = {
		    tooltip: {
		        trigger: 'axis'
		    },
		    legend: {
		        data:['邮件营销','联盟广告']
		    },
		    grid: {
		        left: '3%',
		        right: '4%',
		        bottom: '3%',
		        containLabel: true
		    },
		    toolbox: {
		        feature: {
		            saveAsImage: {}
		        }
		    },
		    xAxis: {
		        type: 'category',
		        boundaryGap: false,
		        data: transverse
		    },
		    yAxis: {
		        type: 'value'
		    },
		    series: [
		       {
		            name:'邮件营销',
		            type:'line',
		            stack: '邮件营销-总量',
		            data:upright,
			        smooth: true
		        },
		        {
		            name:'联盟广告',
		            type:'line',
		            stack: '联盟广告-总量',
		            data:upright2,
			        smooth: true
		        }
		    ]
		};
 // 使用刚指定的配置项和数据显示图表。
 myChart.setOption(option);
});
</script>